
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Task 7</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
  </head>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">

  <div class="container-fluid">
    <a class="navbar-brand" href="#">KodeCamp 2.0</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Home</a>


      </ul>
      <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>
  <body style="background-color:HoneyDew;">
    <div class="text-bg-success  p-3"><h1>Welcome to promotional task 7</h1></div>

    <p>




<span> <h3>Beginner Python Learners Here is your promotional task</h3></p>
1. Create a Django model for People, Address, Doctor, Product, and Bio within any of your app.
Use an appropriate database relationship, and create a relationship for the following models:


<ul class="Database Relationship ">
  <li class="list-group-item">People - Address</li>

  <li class="list-group-item">People -Doctor</li>

  <li class="list-group-item">People -Bio</li>
</ul>

</span>

<p>
2. Within your project folder, create a new python file and save it as task7.py. Import the Product model to this file, and illustrate the following:



</ol>
<ol class="Database Relationship ">
  <li class="list-group-item">I. Insert a new record into the Product Model</li>
  <li class="list-group-item">ii. Get all the records in the Product table</li>
  <li class="list-group-item">iii. Filter products by their name</li>
  <li class="list-group-item">iv. Get a single record from the product table</li>
  <li class="list-group-item">v. Change a product price</li>
</ol>
</p>

N/B: Use the .save() method where necessary

<p> <em>You are to submit through the GitHub link :</em>


Submission Link: <b>https://airtable.com/shrhRxsArvsX9LY9a</b> </p>

  <h4>THE SUBMISSION DEADLINE IS Wednesday 8TH JUNE, 2022 AT 11:59 PM.</h4>






    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
  </body>

  <footer>
    <p><h6><p>Submitted by OI Akintunde</p>
       <p>Copyright 2022,Powered by litteup Concepts. All Rights Reserved.
</p></h6></p>
  </footer>
</html>
